<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kanban.mapper.KbTeamMapper">
    
    <resultMap type="KbTeam" id="KbTeamResult">
        <result property="teamId"    column="team_id"    />
        <result property="teamName"    column="team_name"    />
        <result property="description"    column="description"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectKbTeamVo">
        select team_id, team_name, description, owner_id, status, del_flag, create_by, create_time, update_by, update_time, remark from kb_team
    </sql>

    <select id="selectKbTeamList" parameterType="KbTeam" resultMap="KbTeamResult">
        <include refid="selectKbTeamVo"/>
        <where>  
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="ownerId != null "> and owner_id = #{ownerId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectKbTeamByTeamId" parameterType="Long" resultMap="KbTeamResult">
        <include refid="selectKbTeamVo"/>
        where team_id = #{teamId}
    </select>

    <insert id="insertKbTeam" parameterType="KbTeam" useGeneratedKeys="true" keyProperty="teamId">
        insert into kb_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name,</if>
            <if test="description != null">description,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">#{teamName},</if>
            <if test="description != null">#{description},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateKbTeam" parameterType="KbTeam">
        update kb_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where team_id = #{teamId}
    </update>

    <delete id="deleteKbTeamByTeamId" parameterType="Long">
        delete from kb_team where team_id = #{teamId}
    </delete>

    <delete id="deleteKbTeamByTeamIds" parameterType="String">
        delete from kb_team where team_id in 
        <foreach item="teamId" collection="array" open="(" separator="," close=")">
            #{teamId}
        </foreach>
    </delete>
    <insert id="batchInsertTeamMembers">
        insert into kb_team_member(team_id, user_id, join_time) values
        <foreach item="item" index="index" collection="userIds" separator=",">
            (#{teamId}, #{item}, sysdate())
        </foreach>
    </insert>

    <delete id="deleteTeamMembersByTeamId">
        delete from kb_team_member where team_id = #{teamId}
    </delete>

    <select id="selectUserIdsByTeamId" resultType="Long">
        select user_id from kb_team_member where team_id = #{teamId}
    </select>
</mapper>